<section class="work">
  <div class="topic">
    Work Experience
  </div>
  <div class="job">
    <div class="heading">
      <div class="company">VMware</div>
      <div class="title">Front-End Developer, Clarity</div>
    </div>
    <div class="details">
      <div class="timeline">Oct 2015 - Present</div>
      <div class="description">
        One of first developers in the Clarity Team and the top most contributor to the
        <a target="_blank" href="https://github.com/vmware/clarity">Clarity Open Source Project.</a>
        Built, maintained and documented Clarity UI & Clarity NG components.
        Conducted explorations on interactions and provided feedback to the Clarity UX team.
      </div>
    </div>
  </div>

  <div class="job">
    <div class="heading">
      <div class="company">JP Morgan</div>
      <div class="title">Associate Developer</div>
    </div>
    <div class="details">
      <div class="timeline">Jul 2014 - Oct 2015</div>
      <div class="description">
        Worked with the Fixed Income team to develop and maintain the internal and external short-term applications.
        Managed the expense management system for all the Syndicate deals in Fixed Income and added new features to it.
        Developed daily reports and wrote batch processes needed by the Middle Office.
      </div>
    </div>
  </div>

  <div class="job">
    <div class="heading">
      <div class="company">Barclays</div>
      <div class="title">Technology Analyst</div>
    </div>
    <div class="details">
      <div class="timeline">Mar 2013 - Jul 2014</div>
      <div class="description">
        Worked with the Fixed Income team to analyze and upgrade the authorization method of existing systems.
        Generated feeds and comparison reports to analyze current permissions and built a daemon process
        to automatically sync permissions with the new authorization method to avoid manual intervention.
      </div>
    </div>
  </div>
</section>

<section class="education">
  <div class="topic">
    Education
  </div>
  <div class="school">
    <div class="heading">
      <div class="school-name">New York University</div>
      <div class="degree">Masters in Information Systems</div>
    </div>
  </div>

  <div class="school">
    <div class="heading">
      <div class="school-name">PICT, Pune</div>
      <div class="degree">Bachelors in Computer Engineering</div>
    </div>
  </div>
</section>

<section class="courses">
  <div class="topic">
    Online Courses
  </div>

  <div class="site">
    Code School
  </div>

  <div class="heading">
    <div class="badge">
      <img src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/296/completed-javascript-road-trip-part-1-b9f5af5196fb596271f7f97b6b477d24.png" alt="">
    </div>
    <div class="course-name">
      <a href="https://codeschool.pluralsight.com/courses/javascript-road-trip-part-1">
        Javascript Road Trip Part 1
      </a>
    </div>
  </div>

  <div class="heading">
    <div class="badge">
      <img src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/300/completed-javascript-road-trip-part-2-d4fd45ae7ecb6601fe4a0c8d506ca306.png" alt="">
    </div>
    <div class="course-name">
      <a href="https://codeschool.pluralsight.com/courses/javascript-road-trip-part-2">
        Javascript Road Trip Part 2
      </a>
    </div>
  </div>

  <div class="heading">
    <div class="badge">
      <img src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/321/completed-javascript-road-trip-part-3-6c96fe52f9c68b790937d3db2110325a.png" alt="">
    </div>
    <div class="course-name">
      <a href="https://codeschool.pluralsight.com/courses/javascript-road-trip-part-3">
        Javascript Road Trip Part 3
      </a>
    </div>
  </div>

  <div class="heading">
    <div class="badge">
      <img src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/618/you-me-svg-bafffdf6009ac4f5fd37d68e116f70d2.png" alt="">
    </div>
    <div class="course-name">
      <a href="https://codeschool.pluralsight.com/courses/you-me-svg">You, Me & SVG</a>
    </div>
  </div>
</section>

<section class="skills">
  <div class="topic">
    Skills
  </div>
  <div class="heading">
    <div class="level">
      Strong
    </div>
    <div class="skill">
      HTML, CSS, SASS, Javascript, Typescript, Angular 2
    </div>
  </div>

  <div class="heading">
    <div class="level">
      Knowledgeable
    </div>
    <div class="skill">
      Java, SQL, Gulp, Maven, Sketch
    </div>
  </div>
</section>
