<h1 class="name">
  <span class="fname">Aditya</span>
  <span class="lname">Bhandari</span>
</h1>
<section class="contact">
  <div class="mobile detail">
    <span class="fa fa-fw fa-mobile"></span>
    <span class="value">646-385-0512</span>
  </div>
  <div class="email detail">
    <span class="fa fa-fw fa-envelope-o"></span>
    <span class="value">
      <a href="mailto:aditya.bhandari@nyu.edu?Subject=Hey%20Aditya" target="_blank">
        aditya.bhandari@nyu.edu
      </a>
    </span>
  </div>
  <div class="github detail">
    <span class="fa fa-fw fa-github"></span>
    <span class="value">
      <a href="https://github.com/adityarb88" target="_blank">adityarb88</a>
    </span>
  </div>
  <div class="twitter detail">
    <span class="fa fa-fw fa-twitter-square"></span>
    <span class="value">
      <a href="https://twitter.com/adityarb" target="_blank">adityarb</a>
    </span>
  </div>
  <div class="codepen detail">
    <span class="fa fa-fw fa-codepen"></span>
    <span class="value">
      <a href="https://codepen.io/takeradi" target="_blank">takeradi</a>
    </span>
  </div>
  <div class="stackoverflow detail">
    <span class="fa fa-fw fa-stack-overflow"></span>
    <span class="value">
      <a href="https://stackoverflow.com/users/3538394/takeradi" target="_blank">takeradi</a>
    </span>
  </div>
</section>
