/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  font-family: "Hammersmith One",Helvetica,Arial,sans-serif;
}


.container {

  /*Temp*/
  background: cyan;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 35%;

  background-color: #EAEAEA;
  background-size: cover;

  font-weight: 600;
}

.sidebar,
.content {
  display: block;

  padding: 48px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 48px;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.fname,
.lname {
  display: block;
}

.contact {
  margin-top: 48px;
  margin-left: 48px;
}

.contact .fa {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.contact .value {
  margin-left: 48px;
  opacity: 0.7;
}

.contact .fa-envelope-o,
.contact .fa-stack-overflow {
  font-size: 18px;
  margin-top: 5px;
}

.detail {
  display: flex;
  align-items: center;
  margin-right: 48px;
  line-height: 48px;
}

a,
a:visited,
a:link,
a:hover,
a:active
{
  text-decoration: none;
  color: #EF3E36;
}



.content {
  margin-left: 35%;
  background: #3A3335;
  min-height: 100vh;
  font-family: Montserrat;
}

.content .topic {
  text-transform: uppercase;
  color: #17BEBB;
  font-size: 24px;
  margin-top: 48px;
}

.content {
  color: white;
}

.content .details,
.content .description {
  color: gray;
}

.course-heading,
.heading,
.details {
  display: flex;
}

.course-heading,
.heading,
.details {
  margin-top: 24px;
}

.company,
.timeline,
.school-name,
.level {
  flex: 0 0 40%;
}

.badge {
  height: 48px;
  width: 48px;
}

.badge img {
  max-width: 100%;
}

.site {
  margin-top: 24px;
}

.course-name {
  line-height: 48px;
  margin-left: 48px;
}

@media only screen and (max-width: 1300px) {
  .sidebar {
    width: 30%;
  }

  .content {
    margin-left: 30%;
  }

  .company,
  .timeline,
  .school-name,
  .level {
    flex: 0 0 30%;
  }
}

@media only screen and (max-width: 1100px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
  }

  .content {
    margin-left: 0;
  }

  .name {
    margin-top: 0;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
  }

  .contact .value {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .heading,
  .details {
    flex-direction: column;
  }

  .title,
  .description {
    margin-top: 12px;
  }

  .degree {
    margin-top: 6px;
  }
}


